//- valid
head
    base(href='/')
    link(href="no-actual-source")

//- valid
body
    div(class="container")
        div(class="content")

//- valid
template(name="template.html")
    div(class="template-container")

//- valid
script(type="text/ng-template", id="script.html")
    div(class="script-container")